# Ignore all node_modules directories
**/node_modules/

# Build output
dist/
build/

# Logs
*.log

# Environment files
.env
.env.*

# System files
.DS_Store
Thumbs.db

# IDE/project files
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environments
.venv/
venv/

# Local git config
.gitconfig

# Misc
*.swp
