# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
poc-venv/
.env/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Python env files
.env
*.env

# Test cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# MyPy
.mypy_cache/

# PyInstaller
dist/
build/

# SQLite
*.sqlite3

# Logs
*.log
