$primary: #459a68;
$primaryDark: #33754f;
$primaryLight: #5e7f8d;
$primaryLighter: #d3ecef;
$greyLighter: #e6e6e6;
$greyLight: #f4f4f4;
$greyDarker: #dcdada;
$greyDark: #60605d;
$text: #41413f;
$white: #fff;
$blueLink: #0071bc;
$powederBlue: #e6f1fc;
